h1 {
  color:rgb(63, 81, 181);
  font-weight: bold;
}
.buttons-right>button {
  float: right;
  margin: 5px;
}
.app-container {
  padding: 25px;
}

.percentage-number {
  color: rgb(63, 81, 181);
  font-size: 50px;
  font-weight: bold;
}
.percentage-sign {
  color: rgb(63, 81, 181);
  font-size: 40px;
}
.percentage-container {
  text-align: center;
}
.percentage-container:first-child {
  padding-bottom: 3em;
}
.container .row div {
  outline: solid 1px black;
}
.map {
  width: 1000px;
  height: 1000px;
}

table {
  width:100%;
}
table, th, td {
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
table#t01 tr:nth-child(even) {
  background-color: #eee;
}
table#t01 tr:nth-child(odd) {
 background-color: #a9a9a97d;
}
table#t01 th {
  background-color: white;
  color: black;
}
.blueColor{
 background: #080875
}
.text-white{
  color: white
}
.text-center{
  justify-content: center;
}
.text-props{
  height: 35px;
  margin-top: 10px;
}
.rowHeight{
  height: 350px;
}
.bootstrap-wrapper{
  margin-bottom: 60px;
}
.azureColor{
  background: azure;
}   